<h1>Editing Restaurant</h1>

<%#= render 'form' %>
<%= form_for @restaurant, :url =>{:action => "update", :id => @restaurant} do |f| %>
<p>Name: <%= f.text_field 'name' %></p>
<p>Image URL: <%= f.text_field  'imageurl' %></p>
<p>Social Media 1: <%= f.text_field  'socialmedia1' %></p>
<p>Social Media 2: <%= f.text_field  'socialmedia2' %></p>
<p>Menu URL: <%= f.text_field  'menuurl' %></p>

<%= f.submit "Save changes" %>
<% end %>

<%= link_to 'Show', @restaurant %> |
<%= link_to 'Back', restaurants_path %>
