<h1><%= @restaurant.name %></h1>

<p>
   <strong>Image URL: </strong> <%= @restaurant.imageurl %><br />
   <strong>Social Media 1:</strong> <%= @restaurant.socialmedia1%><br />
   <strong>Social Media 2:</strong> <%= @restaurant.socialmedia2%><br />
   <strong>Created Date:</strong> <%= @restaurant.created_at %><br />
</p>

<%#= link_to 'Back', {:action => 'list'} %>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>







<!--<p id="notice"><%#= notice %></p>

<%#= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%#= link_to 'Back', restaurants_path %>
